html {
  --default-bg-color: #B4B4B4;
  --red-bg-color: #E91E63;
  --green-bg-color: #A5E291;
  --blue-bg-color: #2473DF;
}

html,
body {
  margin: 0;
}

body {
  font-family: sans-serif;
  text-align: center;
  font-size: 2rem;
}

#app {
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  transition: background-color 0.5s;
}

h1 { margin: 0; }

.default { background-color: var(--default-bg-color); }
.calo { background-color: var(--red-bg-color); }
.bien { background-color: var(--green-bg-color); }
.frio { background-color: var(--blue-bg-color); }
