html,
body {
  margin: 0;
}

body {
  font-family: sans-serif;
  text-align: center;
  font-size: 2rem;
}

#app {
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  transition: background-color 0.5s;
}

h1 { margin: 0; }

.default { background-color: #B4B4B4; }
.calo { background-color: #E91E63; }
.bien { background-color: #A5E291; }
.frio { background-color: #2473DF; }
